
vs/pacparser.net/Debug/*
vs/pacparser.net/Release/*
vs/pacparser.net/pacparser.net.suo
vs/pacparser.net/pacparser.net.vcproj.Develomon.Eric.user
vs/pacparser.net/pacparser.net.ncb
vs/pacparser.net/_ReSharper*
vs/pacparser.net.test/bin/Debug/*
vs/pacparser.net.test/bin/Release/*
vs/pacparser.net.test/obj/*
*.suo

vs/pacparser.net/pacparser.net.vcxproj.bak
vs/pacparser.net.test/pacparser.net.test.csproj.old
vs/pacparser.net.test/pacparser.net.test.csproj.user
vs/pacparser.net/pacparser.net.sln.old
vs/pacparser.net/pacparser.net.vcxproj.user
vs/pacparser.net/pacparser.net.suo.old
vs/pacparser.net/UpgradeLog.XML
vs/pacparser.net/pacparser.net.sdf