
vs/pacparser.net/Debug/*
vs/pacparser.net/Release/*
vs/pacparser.net/pacparser.net.suo
vs/pacparser.net/pacparser.net.vcproj.Develomon.Eric.user
vs/pacparser.net/pacparser.net.ncb
vs/pacparser.net/_ReSharper*
vs/pacparser.net.test/bin/Debug/*
vs/pacparser.net.test/bin/Release/*
vs/pacparser.net.test/obj/*
*.suo

vs/pacparser.net/pacparser.net.vcxproj.bak
vs/pacparser.net.test/pacparser.net.test.csproj.old
vs/pacparser.net.test/pacparser.net.test.csproj.user
vs/pacparser.net/pacparser.net.sln.old
vs/pacparser.net/pacparser.net.vcxproj.user
vs/pacparser.net/pacparser.net.suo.old
vs/pacparser.net/UpgradeLog.XML
vs/pacparser.net/pacparser.net.sdf
vs/pacparser.net/ipch/pacparser.net-8ccb6d11/pacparser.ipch
vs/pacparser.net/pacparser.net.opensdf
src/vs/pacparser.net/_ReSharper.pacparser.net/*
src/vs/pacparser.net.test/bin/Debug/*
src/vs/pacparser.net.test/bin/Release/*
src/vs/pacparser.net.test/obj/*
src/vs/pacparser.net/Debug/*.tlog
src/vs/pacparser.net/*.tlog
src/vs/pacparser.net/Release/*
src/vs/pacparser.net/Debug/
src/vs/pacparser.net/UpgradeLog.XML
src/vs/pacparser.net.test/pacparser.net.test.csproj.old
src/vs/pacparser.net/*.opensdf